html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Avenir Next;
}

#viewDiv {
  padding: auto;
  margin: auto;
  height: 480px;
  width: 100%;
  background-color: rgb(231, 231, 231);
}

.header-img {
  background-image: url("./assets/img/pano.png");
  color: white;
  height: 350px;
  filter: contrast(110%);
}
#dayCards {
  padding: 20px
}
.tab {
  padding: 15px;
}

.tab-img {
  float: right;
  width: 50%;
  padding: 5px;
}

#red {
  color: #A03500;
  font-weight: bold;
}
#yellow {
  color: #D9B400;
  font-weight: bold;
}
#blue {
  color: #3264C8;
  font-weight: bold;
}
#green {
  color: #72B38E;
  font-weight: bold;
}