html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#sidePanel {
    height: 45%;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: auto;
}

#viewDiv {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 55%;
}

#sliderDiv {
    height: 300px;
    width: 400px;
}

.cal-btn {
    height: 50px;
    margin: 5px;
}

#sliderDiv .esri-slider__segment-1 {
    background-color: #0079c1;
}

#buttonFilters {
    width: 250px;
    float: left;
}

#chartPanel {
    background: #fff;
    font: "Avenir Next W00";
    line-height: 1.5em;
    overflow: auto;
    padding: 10px;
    width: 800px;
    float: right;
}

.chart {
    height: 380px;
}
#chartPanelPie {
    background: #fff;
    font: "Avenir Next W00";
    line-height: 1.5em;
    overflow: auto;
    padding: 10px;
    width: 400px;
}