html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #242424;
    color: white;
}

#sidePanel {
    height: 44%;
    margin: auto;
    width: 98%;
}

#viewDiv {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 55%;
}

#sliderDiv {
    height: 100px;
    width: 100%;
}
#sliderDivWrapper {
    width: 900px;
    padding: 10px;
}
#filterAge {
    width: 900px;
}

.cal-btn {
    height: 50px;
    margin: 5px;
}

#sliderDiv .esri-slider__segment-1 {
    background-color: #0079c1;
}

#buttonFilters {
    padding: 10px;
}

#chartPanel {
    font: Avenir Next;
    line-height: 1.5em;
    margin: auto;
    padding: 10px;
    width: 800px;
}

#chart {
    height: 350px;
    width: 100%;
}
#chartPanelPie {
    font: Avenir Next;
    line-height: 1.5em;
    overflow: auto;
    padding: 10px;
    width: 475px;
    float: right;
    margin-top: 10px;
}
#stats {
    width: 45%;
    float: left;
    margin: auto;
    margin-top: 10px;
    height: 350px;
}
#cardText {
    float: left;
    width: 200px;
}
.tab {
    width: 100%;
}
#population {
    width: 54%;
    float: right;
    margin: auto;
    margin-top: 10px;
    height: 350px;
}