html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#appTitle {
    padding: 15px;
    width: 400px;
}
#windmill-filter {
    width: 100%;
    visibility: hidden;
  }

  .windmill-item, .filter-title {
    width: 100%;
    padding: 12px;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
  }

  .windmill-item:focus {
    background-color: dimgrey;
  }

  .windmill-item:hover {
    background-color: dimgrey;
  }